* {
    padding: 0;
    margin: 0;
}
@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

/* 
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
*/

p,
a {
    font-family: "Inter", sans-serif;
}
h1,
h3 {
    font-family: "Roboto", sans-serif;
}

.top {
    background: #6244a3;
    padding: 8px 0;
}
.d_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1360px;
    margin: auto;
    position: relative;
}
.top-text {
    max-width: 370px;
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
        box-sizing: border-box;
    }
    a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
    }
}

.icon {
    position: absolute;
    right: 40px;
    @include max-screen(768px) {
        display: none;
    }
}
header {
    background-color: #ffffff;
    width: 100%;
    padding: 24px 0;
    .container {
        max-width: 1280px;
        h3 {
            display: none;
        }
        @include max-screen(768px) {
            display: flex;
            text-align: center;
            justify-content: space-around;
            align-items: stretch;
            h3 {
                display: flex;
                font-family: "Roboto";
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 58px;
                /* identical to box height, or 120% */

                text-align: center;

                color: #202939;
            }
        }
        .header_btn {
            display: flex;
            position: absolute;
            right: 0;
            list-style: none;
            @include max-screen(768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            li {
                display: flex;
                align-items: center;
                position: relative;

                &:nth-child(1) {
                    @include max-screen(768px) {
                        margin-bottom: 46px;
                    }
                    &:before {
                        content: "";
                        display: inline-block;
                        background: url(../images/shopping_bag.svg);
                        width: 20px;
                        height: 30px;
                        background-repeat: no-repeat;

                        position: absolute;
                        right: 53px;
                        top: 13px;
                    }
                    margin-right: 8px;
                    // padding: 9px 0;
                    // border: 1px solid #cdd5df;
                    // border-radius: 64px;
                    // padding-left: 45px;
                    // padding-right: 21px;
                    // &:before {
                    //     content: "";
                    //     display: inline-block;
                    //     background: url(../images/shopping_bag.svg);
                    //     width: 20px;
                    //     height: 30px;
                    //     background-repeat: no-repeat;
                    // }

                    a {
                        text-decoration: none;
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: #202939;
                        padding: 9px 0;
                        border: 1px solid #cdd5df;
                        border-radius: 64px;
                        padding-left: 45px;
                        padding-right: 21px;
                        // &:before {
                        //     content: "";
                        //     display: inline-block;
                        //     background: url(../images/shopping_bag.svg);
                        //     width: 20px;
                        //     height: 30px;
                        //     background-repeat: no-repeat;

                        //     position: absolute;
                        //     right: 53px;
                        //     top: 13px;
                        // }
                    }
                }

                &:nth-child(2) {
                    a {
                        text-decoration: none;
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: #ffffff;
                        padding: 9px 21px;
                        border-radius: 64px;
                        border: 1px solid #cf4d74;
                        background-color: #cf4d74;
                    }
                }
            }
        }
    }
}

// add mobile menu

// Colors
$color-one: #34495e;
$color-two: #ecf0f1;
$color-three: #c0392d;
$color-four: #2980d9;

// * {
//     box-sizing: border-box;
// }

// body {
//     font-size: 16px;
//     background: $color-two;
//     text-align: right;
//     overflow: hidden;
// }

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include max-screen(768px) {
        position: fixed;
        top: -100vh;
        left: 0px;
        z-index: 9;
        background: $color-four;
        color: $color-two;
        padding: 50px 0;
        width: 100vw;
        height: auto;
        visibility: visible;
        opacity: 1;
        flex-direction: column;
        border-radius: 3px;
        transition: all 300ms ease-in-out;
        justify-content: center;
        text-align: center;
    }
    &.active {
        top: 0;
    }
    // #logo {
    //     font-size: 25px;
    //     font-weight: 700;
    // }
    .nav {
        list-style-type: none;
        padding: 0;
        display: flex;
        @include max-screen(768px) {
            display: block;
        }

        li {
            margin-right: 32px;
            @include max-screen(768px) {
                margin-right: 0;
                margin-bottom: 20px;
            }
            a {
                text-decoration: none;
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 150% */
                color: #697586;
                @include max-screen(768px) {
                    color: #ffffff;
                    font-size: 20px;
                }
            }
        }
    }
}

#toggle {
    display: none;
    @include max-screen(768px) {
        display: block;
        position: relative;
        width: 40px;
        height: 36px;
        left: 20px;
        top: 20px;
        transition: all 300ms ease-in-out;
        z-index: 10;

        input {
            position: absolute;
            top: -3px;
            left: -3px;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            cursor: pointer;
            &:checked {
                + span {
                    background: transparent;
                    left: 0;
                    &:after {
                        transform: rotate(45deg) translate(-1px, -12px);
                        left: -7px;
                        background: #fff;
                    }
                    &:before {
                        transform: rotate(-45deg) translate(-4px, 16px);
                        left: -7px;
                        background: #fff;
                    }
                }
            }
        }
        span {
            position: absolute;
            width: 100%;
            height: 2px;
            background: $color-one;
            margin-top: 10px;
            transition: all 0.1s;
            left: 0;
            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background: $color-one;
                top: -12px;
                left: 0;
                transition: all 0.3s;
            }
            &:after {
                top: 12px;
            }
        }
    }
}

.hydrated {
    background-color: #edebf7;
    .container {
        max-width: 1440px;
    }
}
